<!-- components/navbar.html -->
<nav class="bg-transparent navbar-section">
    <div class="container">
        <div class="flex items-center justify-between py-4">
            <div>
                <a href="/"><img src="../images//logo.png" class="w-[129px] h-[96px]"></img></a>
                
            </div>
            <div>
                <ul class="flex space-x-4">
                    <li><a href="/" class="text-white hover:text-gray-300">Home</a></li>
                    <li><a href="/about.html" class="text-white hover:text-gray-300">About</a></li>
                    <li><a href="/contact.html" class="text-white hover:text-gray-300">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
